<nav>
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink>Balans</a>
      <ng-template ngbNavContent>
        <div class="d-flex flex-row">
          <table class="table flex-fill" *ngIf="assets">
            <thead>
              <tr>
                <th scope="col" style="width: 5%">#</th>
                <th scope="col" style="width: 5%"></th>
                <th scope="col" style="width: 25%">Valuta</th>
                <th scope="col" style="width: 12%">Koers</th>
                <th scope="col" style="width: 12%">Verandering</th>
                <th scope="col" style="width: 12%">Hoeveelheid</th>
                <th scope="col" style="width: 12%">Waarde</th>
                <th scope="col" style="width: 12%">Investering</th>
                <th scope="col" style="width: 5%"></th>
              </tr>
            </thead>
            <tbody>
            <tr *ngFor="let asset of assets.sortedList; index as i">
              <th scope="row" style="width: 5%">{{ i + 1 }}</th>
              <td style="width: 5%">
                <i style="margin: -4px 0 0 0" class="icn" [ngClass]="'icn-' + asset.symbol.toLowerCase()"></i>
              </td>
              <td style="width: 25%">{{asset.name}} <span class="symbol">{{ asset.symbol }}</span></td>
              <td style="width: 12%">{{ asset.currentPrice | number: '0.2-6' }} <span class="symbol">EUR</span></td>
              <td style="width: 12%"><span class="change24h" [ngClass]="asset.change24h > 0 ? 'positive' : 'negative'">{{ asset.change24h | number: '0.2-2' }}%</span></td>
              <td style="width: 12%">{{ asset.totalAmount | number: '0.0-4' }} <span class="symbol">{{ asset.symbol }}</span></td>
              <td style="width: 12%">{{ asset.currentValue| number: '0.2-2' }} <span class="symbol">EUR</span></td>
              <td style="width: 12%">{{ asset.investment| number: '0.2-2' }} <span class="symbol">EUR</span></td>
              <td style="width: 5%">
                <button *ngIf="asset.symbol !== 'EUR'" class="btn btn-sm" style="padding: 3px 8px" (click)="onClickTableRow(asset)">
                  <svg *ngIf="assetWhichDetailsAreOpen !== asset" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                  </svg>
                  <svg *ngIf="assetWhichDetailsAreOpen === asset" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                  </svg>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
          <table class="table table-striped flex-fill" *ngIf="trades">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Market</th>
                <th scope="col">Type</th>
                <th scope="col">Date</th>
                <th scope="col">Amount</th>
                <th scope="col">Total Amount</th>
                <th scope="col">Euro</th>
                <th scope="col">Total Euro</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
            <tr *ngFor="let trade of trades.groupedList; index as i" [ngClass]="trade.isBuy ? 'table-success' : 'table-danger'">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ trade.market }}</td>
              <td>{{ trade.isBuy ? 'Aankoop' : 'Verkoop' }}</td>
              <td>{{ trade.date | date : 'medium' : 'nl-NL' }}</td>
              <td>{{ trade.amount | number: '0.0-4' }}</td>
              <td>{{ trade.totalAmount | number: '0.0-4' }}</td>
              <td>{{ trade.euroAmount | number: '0.2-2' }}</td>
              <td>{{ trade.totalEuroAmount | number: '0.2-2' }}</td>
              <td>{{ trade.price | number: '0.2-6' }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Trade history unfiltered</a>
      <ng-template ngbNavContent>
        <table class="table table-striped" *ngIf="trades">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Market</th>
            <th scope="col">Type</th>
            <th scope="col">Date</th>
            <th scope="col">Amount</th>
            <th scope="col">Price</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let trade of trades.list; index as i" [ngClass]="trade.isBuy ? 'table-success' : 'table-danger'">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ trade.market }}</td>
            <td>{{ trade.isBuy ? 'Aankoop' : 'Verkoop' }}</td>
            <td>{{ trade.date | date : 'medium' : 'nl-NL' }}</td>
            <td>{{ trade.amount | number }}</td>
            <td>{{ trade.price | number }}</td>
          </tr>
          </tbody>
        </table>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Trade history</a>
      <ng-template ngbNavContent>
        <table class="table table-striped" *ngIf="trades">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Market</th>
            <th scope="col">Type</th>
            <th scope="col">Date</th>
            <th scope="col">Amount</th>
            <th scope="col">Total Amount</th>
            <th scope="col">Euro</th>
            <th scope="col">Total Euro</th>
            <th scope="col">Price</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let trade of trades.groupedList; index as i" [ngClass]="trade.isBuy ? 'table-success' : 'table-danger'">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ trade.market }}</td>
            <td>{{ trade.isBuy ? 'Aankoop' : 'Verkoop' }}</td>
            <td>{{ trade.date | date : 'medium' : 'nl-NL' }}</td>
            <td>{{ trade.amount | number }}</td>
            <td>{{ trade.totalAmount | number }}</td>
            <td>{{ trade.euroAmount | number }}</td>
            <td>{{ trade.totalEuroAmount | number }}</td>
            <td>{{ trade.price | number }}</td>
          </tr>
          </tbody>
        </table>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</nav>