.symbol {
    color: gray;
    font-size: 10pt;
    margin-left: 5px;
}

.asset-price {
    font-weight: bold;
    font-size: 16px;
    margin-left: 12px;
}

.table{
    margin: 20px 25px;
}

.table-scrollable {
    /* set the height to enable overflow of the table */
    max-height: 900px;
    overflow-y: auto;
    scrollbar-width: thin;
}

thead th {
    border: none;
}

thead th {
    /* Set header to stick to the top of the container. */
    position: sticky;
    top: 0px;

    /* This is needed otherwise the sticky header will be transparent
    */
    background-color: white;

    /* Because bootstrap adds `border-collapse: collapse` to the
     * table, the header boarders aren't sticky.
     * So, we need to make some adjustments to cover up the actual
     * header borders and created fake borders instead
     */
    margin-top: -1px;
    margin-bottom: -1px;

    /* This is our fake border (see above comment) */
    box-shadow: inset 0 1px 0 #dee2e6,
                inset 0 -1px 0 #dee2e6;
}

.change24h, .change1m, .relativeChange {
    height: 32px;
    line-height: 32px;
    padding: 8px 10px;
    border-radius: 8px;
    font-size: 13px;

    &.negative {
        background: #fff2f2;
        color: #da003e;
    }

    &.positive {
        background: #eaf9f3;
        color: #18ad76;
    }
}

.open-order-buyOrSell {
    &.negative {
        color: #da003e;
    }

    &.positive {
        color: #18ad76;
    }
}

button.buy-sell {
    width: 130px;
}

input.buy-sell {
    width: 150px;
}

app-trade-group {
    width: 100%;
    margin-top: 20px;
}
