<div *ngIf="viewModel">
    <table class="table table-sm flex-fill">
      <thead *ngIf="viewModel.level === 0">
        <tr>
          <th scope="col" style="width: 28%">Datum</th>
          <th scope="col" style="width: 8%">Tijd</th>
          <th scope="col" style="width: 8%">Hoeveelheid</th>
          <th scope="col" style="width: 8%">Gem. Prijs</th>
          <th scope="col" style="width: 8%">Fee</th>
          <th scope="col" style="width: 8%">Aantal alts</th>
          <th scope="col" style="width: 8%">Aantal euros</th>
          <th scope="col" style="width: 12%">Huidige waarde als je gestopt was</th>
          <th scope="col" style="width: 5%">Prijs 1</th>
          <th scope="col" style="width: 5%">Prijs 2</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let child of viewModel.children; index as i">
          <tr (click)="child.toggleRowDetails()">
            <td style="width: 28%" *ngIf="child.hasChildren"><span [style.marginLeft.px]="(child.level - 1) * 20">{{child.name}}</span></td>
            <td style="width: 28%" *ngIf="!child.hasChildren"></td>
            <td style="width: 8%">{{child.date | date: 'H:mm'}}</td>
            <td style="width: 8%">{{child.amount | number: '0.2-2'}}</td>
            <td style="width: 8%">{{child.price | number: '0.2-2'}}</td>
            <td style="width: 8%">{{child.fee | number: '0.2-2'}}</td>
            <td style="width: 8%">{{child.altAmountAfterTrade | number: '0.2-2'}}</td>
            <td style="width: 8%">{{child.cashAfterTrade | number: '0.2-2'}}</td>
            <td style="width: 12%"><span class="profit" [ngClass]="child.profit > 0 ? 'positive' : 'negative'">{{child.grandTotalInEuroWhenThisWasLastTrade | number: '0.0-0'}} <span *ngIf="child.profit !== 0">({{child.profit | number: '0.0-0'}})</span></span></td>
            <td style="width: 5%">{{child.priceAtWhichTargetIsReachedAfterSellingAll | number: '0.2-2'}}</td>
            <td style="width: 5%">{{child.priceAtWhichTargetIsReachedWithCurrentCash | number: '0.2-2'}}</td>
          </tr>
          <tr *ngIf="child.areRowDetailsOpen">
            <td colspan="10">
              <app-trade-group [viewModel]="child">
              </app-trade-group>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
</div>
